<br><br>
<div class="site-content">
  <div class="mdl-grid site-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">About</h1>
      </div>
      <div class="mdl-card__media"><img class="article-image" src="../../assets/images/about.jpg" border="0"
          alt="About">
      </div>
      <div class="mdl-grid site-copy">
        <div class="mdl-cell mdl-cell--12-col">
          <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
          <div class="mdl-cell mdl-cell--10-col mdl-card__supporting-text no-padding ">
            <p>I am Praveen Sambu, An enthusiast Programmer with zeal to learn and dive in Technlogy.
              Having interest toards blogging and Tranings. My Motive is to explore and share thoughts on
              Cloud Technlogies through this medium.
            </p>
            <p>I consider myself a problem solver, and I have the ability to get things to work. Having a keen eye on
              quality,
              architecture and risks this lets me build good software. I am focused on several cutting-edge projects
              trying to push forward the leading products in the financial sector.</p>
            <p>As a team member I have learn how to work in a team for best results.
              In all my 10 years of professional experience I have learn how to keep a good attitude towards
              the work I see and do. Every day is new day at work which brings an opportunity to learn things.
              And constant learning among these years have taught me adaptability and growth, most importantly
              how to unlearn things to learn new thing.</p>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="demo-card-image mdl-card mdl-shadow--2dp person1">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                  <span class="demo-card-image__filename">Praveen Sambu</span>
                </div>
              </div>
              <br>
              <div class="ast-custom-html">                  
                <a href="https://www.linkedin.com/in/praveen-sambu-598141114/" target="_blank" style="margin-right:10px">
                  <img src="../../assets/images/linkedin-logo.png" width="25">
                </a>
                <a href="https://github.com/praveensambu" target="_blank" style="margin-right:10px">
                  <img src="../../assets/images/github-logo.png" width="25">
                </a>
              </div>
            </div>         
          </div>
          <br>
          <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Mission</h3>
          <div class="mdl-cell mdl-cell--10-col mdl-card__supporting-text no-padding ">
            <p>
              My Mission is to share valuable learning information related to AWS/Azure Cloud to open public
              for learning and make this an open source learning medium.
              This blog does not accept any kind of payments and we are happy to help!!!.
            </p>
          </div>


          <!-- <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Team</h3>
          <p>
            If Some one is intrested to be part of our blogs or share your ideas with open public. Please contact us.
          </p> -->
          <!-- <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
              <div class="demo-card-image mdl-card mdl-shadow--2dp person1">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                  <span class="demo-card-image__filename">Praveen Sambu</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col">
              <div class="demo-card-image mdl-card mdl-shadow--2dp person2">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                  <span class="demo-card-image__filename">Gary Doe</span>
                </div>
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
