<div><br><br></div>
<div class="row" style="padding-left: 20px;">
  <h2 class="udlite-heading-xl what-you-will-learn--title--hropy">What you'll learn</h2>
  <div class="what-you-will-learn--content-spacing--3btHJ">
    <ul class="unstyled-list udlite-block-list what-you-will-learn--objectives-list--2cWZN">
      <li>
        <div data-purpose="objective"
          class="udlite-block-list-item udlite-block-list-item-small udlite-block-list-item-tight udlite-block-list-item-neutral udlite-text-sm">
          <div class="udlite-block-list-item-content"><span class="what-you-will-learn--objective-item--ECarc">Master
              AWS Lambda, API Gateway, DynamoDB, and Step Functions from the ground up (Full of Demos and Hands
              On)</span></div>
        </div>
      </li>
      <li>
        <div data-purpose="objective"
          class="udlite-block-list-item udlite-block-list-item-small udlite-block-list-item-tight udlite-block-list-item-neutral udlite-text-sm">
          <div class="udlite-block-list-item-content"><span
              class="what-you-will-learn--objective-item--ECarc">Streamline your development and deployment with AWS SAM
              as well as the Serverless Framework</span></div>
        </div>
      </li>
      <li>
        <div data-purpose="objective"
          class="udlite-block-list-item udlite-block-list-item-small udlite-block-list-item-tight udlite-block-list-item-neutral udlite-text-sm">
          <div class="udlite-block-list-item-content"><span class="what-you-will-learn--objective-item--ECarc">Automate
              serverless deployment with AWS CI/CD tools like CodeCommit, CodeBuild and CodePipeline</span></div>
        </div>
      </li>
      <li>
        <div data-purpose="objective"
          class="udlite-block-list-item udlite-block-list-item-small udlite-block-list-item-tight udlite-block-list-item-neutral udlite-text-sm">
          <div class="udlite-block-list-item-content"><span class="what-you-will-learn--objective-item--ECarc">Build
              Serverless REST API, Web App, Android and iOS Mobile Apps, Alexa Skill, IoT App and more</span></div>
        </div>
      </li>
      <li>
        <div data-purpose="objective"
          class="udlite-block-list-item udlite-block-list-item-small udlite-block-list-item-tight udlite-block-list-item-neutral udlite-text-sm">
          <div class="udlite-block-list-item-content"><span class="what-you-will-learn--objective-item--ECarc">Integrate
              different services like S3, Kinesis, SNS, SQS and more in your serverless projects</span></div>
        </div>
      </li>
      <li>
        <div data-purpose="objective"
          class="udlite-block-list-item udlite-block-list-item-small udlite-block-list-item-tight udlite-block-list-item-neutral udlite-text-sm">
          <div class="udlite-block-list-item-content"><span class="what-you-will-learn--objective-item--ECarc">Implement
              OAuth 2.0 Authentication and Authorization with AWS Cognito</span></div>
        </div>
      </li>
      <li>
        <div data-purpose="objective"
          class="udlite-block-list-item udlite-block-list-item-small udlite-block-list-item-tight udlite-block-list-item-neutral udlite-text-sm">
          <div class="udlite-block-list-item-content"><span class="what-you-will-learn--objective-item--ECarc">Document
              your serverless APIs using API Gateway and Swagger</span></div>
        </div>
      </li>
      <li>
        <div data-purpose="objective"
          class="udlite-block-list-item udlite-block-list-item-small udlite-block-list-item-tight udlite-block-list-item-neutral udlite-text-sm">
          <div class="udlite-block-list-item-content"><span class="what-you-will-learn--objective-item--ECarc">Learn
              Serverless Best Practices</span></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row" style="padding-left: 20px;"
  data-purpose="course-description">
  <h2 class="udlite-heading-xl styles--description__header--3SNsO">Description</h2>
  <div class="show-more--container--3W59b"><span id="show-more--2217" data-type="checkbox" data-checked=""
      style="display: none;"></span>
    <div class="show-more--content--2BLF7 show-more--with-gradient--2hRXX" style="max-height: 221px;">
      <div>
        <div data-purpose="safely-set-inner-html:description:description">
          <p><strong>The only course you'll ever need to master AWS Lambda and Serverless. Period.</strong></p>
          <p>Serverless Computing is one of the top-paying cloud skills today. Serverless is also a key focus area in
            AWS Certification exams, at Associate as well as at Professional level. And this course will help you master
            all the different pieces to the serverless puzzle.</p>
          <p><strong>WELCOME TO THE MOST COMPREHENSIVE COURSE IN SERVERLESS COMPUTING!</strong></p>
          <p>You’ll learn Serverless Computing from scratch. We’ll dive into it from scratch, and then we’ll dive into
            all its core features and into many advanced features as well. We’ll learn how it works, why we use it and
            how to use it. No prior knowledge of Serverless Computing is necessary!</p>
          <p><strong>What You Will Learn</strong>:</p>
          <ul>
            <li>
              <p>AWS Lambda</p>
            </li>
            <li>
              <p>API Gateway</p>
            </li>
            <li>
              <p>Amazon DynamoDB</p>
            </li>
            <li>
              <p>AWS Step Functions</p>
            </li>
            <li>
              <p><strong>AWS SAM</strong> (Serverless Application Model)</p>
            </li>
            <li>
              <p><strong>The Serverless Framework</strong></p>
            </li>
            <li>
              <p>AWS <strong>CI/CD Tools</strong> (Git, CodeCommit, CodeBuild, CodePipeline)</p>
            </li>
            <li>
              <p>Serverless <strong>Best Practices</strong></p>
            </li>
            <li>
              <p>Serverless <strong>Architecture Patterns</strong></p>
            </li>
          </ul>
          <p>i.e. the complete gamut of AWS Serverless Architecture. And while you learn, if you need my help, just ask
            in the Q&amp;A section. You’ll receive prompt response.</p>
          <p><strong>20+ HOURS OF HANDS-ON LABS will teach you to:</strong></p>
          <ul>
            <li>
              <p>Build Serverless Workflows</p>
            </li>
            <li>
              <p>Process <strong>Streaming Data</strong></p>
            </li>
            <li>
              <p>Setup Serverless <strong>Authentication and Authorization</strong></p>
            </li>
            <li>
              <p>Build Serverless <strong>APIs</strong></p>
            </li>
            <li>
              <p>Build Serverless <strong>Web App</strong></p>
            </li>
            <li>
              <p>Create an <strong>Alexa skill</strong></p>
            </li>
            <li>
              <p>Make an <strong>IoT app</strong></p>
            </li>
            <li>
              <p>And so much more... <strong>step by step</strong>, all in this one course.</p>
            </li>
          </ul>
          <p><strong>This Course uses Node.js and JavaScript</strong></p>
          <p>For all the demos that require the use of AWS SDKs, we'll use the AWS SDK for JavaScript.</p>
          <p>Knowledge of Node.js and JavaScript is good to have for taking this course. This shouldn’t however stop you
            from taking the course. If you are new to JavaScript or Node.js, I cover the Node.js and JavaScript
            fundamentals as an optional section inside this course.</p>
          <p>The JavaScript and Node.js topics covered in the course will help you get up and running with using the AWS
            SDK and perform the demos presented in this course. However, keep in mind that, as this course is not a
            JavaScript or Node.js course.</p>
          <p>The course uses Angular and Ionic for web and mobile app demos. Knowledge of Angular or Ionic, however is
            not required for you to be able to complete the demos presented in the course.</p>
          <p>--------</p>
          <p>By the end of this course, you’ll have mastered the AWS Serverless Architecture and you’ll become confident
            to take on real world serverless projects. </p>
       
          <p><strong>I look forward to welcoming you inside the course!</strong></p>
        </div>
        <div class="styles--audience--2pZ0S" data-purpose="target-audience">
          <h2 class="udlite-heading-xl styles--audience__title--1Sob_">Who this course is for:</h2>
          <ul class="styles--audience__list--3NCqY">
            <li>Developers at all levels (beginner to advanced) interested in mastering Serverless</li>
            <li>Developers and Architects who want to master AWS Lambda and the Serverless Architecture</li>
            <li>DevOps Professionals looking to implement serverless continuous integration and continuous delivery
              processes</li>
            <li>Developers looking to speed up and streamline their serverless development and deployment process</li>
            <li>Developers who want to design serverless applications using the best practices in serverless computing
            </li>
            <li>AWS Certification Aspirants</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
