<div class="h-100 bg-light">
	<nav class="navbar fixed-top navbar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<div class="col-6">
			<a class="logo" href="/">Cloud in Detail</a>
		</div>
	   <span class="menu-spacer"></span>
    <div>
	   <a mat-button routerLink="/home" routerLinkActive="active"> Home </a>
       <a mat-button routerLink="/blog" routerLinkActive="active"> Blog </a>
      <a mat-button routerLink="/about" routerLinkActive="active"> About </a>
      <a mat-button  routerLink="/contact" routerLinkActive="active"> Contact Us </a>
    </div>
	</nav>
	<div class="d-flex flex-column h-100">
		<!-- <div class="row md-nav d-none d-lg-flex">
		
			
			<div class="col-9">
				<a href="/">Home</a>
				<a href="/page/1" class="active">Blog</a>
				<a href="https://podcast.cloudonaut.io/">Podcast</a>
				<a href="/plus/">Plus</a>
				<a href="/books-videos/">Books &amp; Videos</a>
				<button type="button" class="btn-subscribe" data-toggle="modal" data-target="#subscriptionModal">Subscribe</button>
			</div>
			
		</div> -->
    <div style="margin-top: 10px;"></div>
    <main class="mdl-layout__content">
      <br><br>
      <router-outlet></router-outlet>
  </main>

		<footer class="bg-dark text-light mt-auto p-2">
			<div class="d-flex">
				<div>©2020 CloudInDetail</div>
				<!-- <div class="ml-auto">
					<a routerLink="impressum">Impressum</a>
					&nbsp;
					<a routerLink="/datenschutz">Datenschutz</a>
				</div> -->
			</div>
		</footer>
	</div>
</div>