<br><br>
<a mat-button routerLink="/blog" routerLinkActive="active"><b>Back to List</b> </a>
<div>
  <div class="row" >
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h1> {{post?.title}}</h1>
      <br>   
      <picture style="margin-left: 40px;" class="img-fluid">
        <source type="image/webp"
          sizes="(min-width: 1200px) 540px, (min-width: 992px) 450px, (min-width: 768px) 330px, (min-width: 576px) 510px, 545px">
        <img class="img-fluid" src="{{post?.headerPhotoUrl}}" alt="[plus] Unboxing AWS DataSync"></picture>

      <div [innerHTML]="post?.htmlContent" style="padding-left: 40px;"></div>
      <div>
        <a mat-button routerLink="/blog" routerLinkActive="active"><b>Thanks For Reading this Article !!!</b> </a>
      </div>
    </div>
  </div>
</div>

