body, h1, h2, h3, h4, h5, h6 {
    font-family: Rubik,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.post-single__title {
    font-size: 2rem;
    max-width: 40.9375rem;
    margin: 1.625rem auto 0;
    font-weight: 400;
    text-align: center;
    line-height: 2.68125rem;
}
h1 {
    font-weight: 500;
}
.h2 {
  font-weight: 400;
}
.read-more{

}

p {
    text-align: justify;
    font-size: 16px;
    color: #74727a;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

//Floating icons

@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url('https://fonts.googleapis.com/css?family=Quicksand');
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 600;
  background: #f0f0f0;
}

ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  li {
    a {
      display: block;
      margin-left: -2px;
      height: 60px;
      width: 60px;
      border-radius: 0 25px 25px 0;
      border: 2px solid #000;
      background: #FFF;
      margin-bottom: 1em;
      transition: all .4s ease;
      color: #2980b9;
      text-decoration: none;
      line-height: 60px;
      position: relative;
      &:hover {
        cursor: pointer;
        width: 180px;
        color: #fff;
        span {
          left: 0;
        }
      }
      span {
        padding: 0 30px 0 15px;
        position: absolute;
        left: -120px;
        transition: left .4s ease;
      }
      i {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 1.5em;
      }
    }
    .spotify {
      background: rgba(#27ae60, .1);
      border-color: #27ae60;
      color: #27ae60;
      &:hover {
        background: rgba(#27ae60, 1);
      }
    }
    .soundcloud {
      background: rgba(#e67e22, .1);
      border-color: #e67e22;
      color: #e67e22;
      &:hover {
        background: rgba(#e67e22, 1);
      }
    }
    .skype {
      background: rgba(#22A7F0, .1);
      border-color: #22A7F0;
      color: #22A7F0;
      &:hover {
        background: rgba(#22A7F0, 1);
      }
    }
    .dribbble {
      background: rgba(#D2527F, .1);
      border-color: #D2527F;
      color: #D2527F;
      &:hover {
        background: rgba(#D2527F, 1);
      }
    }
  }
}


/* entypo */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


//end floating icons