<br><br>
  <div *ngIf="loading; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class="wrapper">
      <div class="overlay" *ngIf="loading">
        <div class="spinner-wrapper">
          <loading-indicator></loading-indicator>
        </div>
      </div>
      </div>
  </ng-template>
  <ng-template #elseBlock>
    <button style="left: 20px;" mat-raised-button color="primary" routerLink="/blog" routerLinkActive="active">All
      Articles</button>
    <div class="row">
      <div class="col-sm-3">
        <!-- <ul>
          <li>
            <a href="#" class="spotify"><span>LinkedIN</span><i class="entypo-spotify"></i></a>
          </li>
          <li>
            <a href="#" class="soundcloud"><span>Soundcloud</span><i class="entypo-soundcloud"></i></a>
          </li>
          <li>
            <a href="#" class="skype"><span>Skype</span><i class="entypo-skype"></i></a>
          </li>
          <li>
            <a href="#" class="dribbble"><span>Dribbble</span><i class="entypo-dribbble"></i></a>
          </li>
        </ul> -->
      </div>
      <div class="col-sm-8">

        <h1 class="post-single__title"> {{post?.title}}</h1>
        <br>
        <picture style="margin-left: 40px;" class="img-fluid">
          <source type="image/webp"
            sizes="(min-width: 1200px) 540px, (min-width: 992px) 450px, (min-width: 768px) 330px, (min-width: 576px) 510px, 545px">
          <img class="img-fluid" src="{{post?.headerPhotoUrl}}" alt="[plus] Unboxing AWS DataSync"></picture>

        <div [innerHTML]="post?.htmlContent" style="padding-left: 40px;"></div>
        <div style="float: right">
          <a style="align-items: flex-end;" mat-button routerLink="/blog" routerLinkActive="active"><b>Thanks For
              Reading this Article !!!</b> </a>
        </div>
      </div>
    </div>
  </ng-template>
