<br><br>
<div class="site-content">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
    <div class="card mb-4" *ngFor="let post of blogPosts">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.intro}}</p>
        <div class="p-btn"> <a href="#" class="btn btn-success" [routerLink]="['/blog/',post.postId, post.Title | format]">View Details <i class="ion-arrow-right-c"></i></a> </div>
        <!-- <a (click)="goTo(post.slug)" class="btn btn-primary">more</a> -->
      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="col-sm-12">
  <router-outlet></router-outlet>
</div>