<div class="main" style="overflow: hidden;">
  <div class="container-fluid welcome d-none d-md-block">
    <div class="row">
      <div class="col-md-7 offset-md-5">
        <picture class="img-fluid">   
            <img  class="img-fluid" src="../../assets/images/cover.jpg" alt="Cloud In Detail"></picture>
      </div>
    </div>
      <div class="container">
        <div class="row">
          <div class="col-5">
            <h3>Welcome to Cloud in Detail</h3>
            <h1>Your Space for Learning Amazon Web Services</h1>
            <a href="#latest-post" class="btn-primary">Start reading</a>
          </div>	
        </div>
      </div>
  </div>




 <!-- <mat-toolbar>
  <mat-toolbar-row>
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row>
</mat-toolbar> -->
    <!-- <div class="mdl-grid site-max-width">
      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp welcome-card portfolio-card">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text"></h2>
        </div>
      </div>
    </div> -->
    <div class="latest-post" id="latest-post">
      <div class="container">
        <div class="row align-items-center">   
            <div class="col-md-6">          
              <img src="../../assets/images/Serverless.png" alt="ServerLEss">
            </div>
            
            <div class="col-md-5 offset-md-1">
              <h2>Learn to build production-ready Serverless applications
              </h2>
              <p>I can give you the lay of the land and help you understand if serverless is right for your use case. I can also provide training to upskill your team quickly and for the right projects, build the MVP for you.</p>
              <a href="/2020-in-review/" class="btn-primary">Register For Free Demo</a>
            </div>
          
        </div>
      </div>
    </div>
    <!-- <section class="section--center mdl-grid site-max-width">
      <header
        class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white  mdl-shadow--4dp">
        <i class="material-icons">play_circle_filled</i>
      </header>
      <div
        class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone  mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Introduction</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <b>
          Hi, I'm Praveen Sambu. I'm here to help you with AWS concepts. I specialise in rapidly transitioning teams to serverless and building production-ready services on AWS. Check out my blogs for more Content.
        </b>
        </div>
        <div class="mdl-card__actions  mdl-card--border">
          <a href="#"
            class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">Watch
            Intro</a>
        </div>
      </div>
    </section> -->
    <section class="section--center mdl-grid site-max-width">
      <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
          <img class="article-image" src="../../assets/images/portfolio1.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">AWS Cloud Practioner</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Start learning AWS and prepare for your Certified Cloud Practitioner exam. Get AWS certified faster with videos, labs, and practice exams!.
        </div>
      </div>
      <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
          <img class="article-image" src="../../assets/images/portfolio2.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">AWS Developer</h2>
        </div>
        <div class="mdl-card__supporting-text">
          The AWS Certified Developer - Associate examination is intended for individuals who perform a development role and have one or more years of hands-on experience developing and maintaining an AWS-based application.
        </div>
      </div>
      <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
          <img class="article-image" src="../../assets/images/portfolio3.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Aws associate Architect</h2>
        </div>
        <div class="mdl-card__supporting-text">
          The AWS Certified Solutions Architect - Associate examination is intended for individuals who perform a solutions architect role and have one or more years of hands-on experience designing available, cost-efficient, fault-tolerant, and scalable distributed systems on AWS.
        </div>
      </div>
    </section>

    <section class="section--center mdl-grid site-max-width homepage-portfolio">
      <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent"
        href="/about" style="background-color: #f1493b;">View Portfolio</a>
    </section>

    <!-- <div class="homepage-footer">
      <section class="mdl-grid site-max-width">
        <div class="mdl-cell mdl-card mdl-cell--8-col mdl-cell--4-col-tablet  mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Testimonials</h2>
          </div>
          <ul class="demo-list-three mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">person</i>
                <span>Amazing people, always ready to help!</span>
                <span class="mdl-list__item-text-body">
                  Bryan Cranston, CEO, Amazing.com
                </span>
              </span>
            </li>
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons  mdl-list__item-avatar">person</i>
                <span>Awesome work, they can do almost anything..</span>
                <span class="mdl-list__item-text-body">
                  Aaron Paul, Marketing Lead, Awesome.com
                </span>
              </span>
            </li>
          </ul>
        </div>
        <div class="demo-card-event mdl-cell mdl-card mdl-shadow--4dp event-card portfolio-card">
          <div class="mdl-card__title mdl-card--expand">
            <h4>
              Featured event:<br>
              Community Meetup
              May 24, 2018<br>
              7-11pm
            </h4>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
              Add to Calendar
            </a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">event</i>
          </div>
        </div>
      </section>
    </div> -->
</div>
<footer class="mdl-mini-footer">
  <div class="footer-container">
    <ul class="mdl-mini-footer__link-list">
    </ul>
  </div>
</footer>